<!doctype html>
<html ng-app>
    <head>
        <meta charset="UTF-8">
        <title>Twitter</title>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
        <div class="main" ng-controller="TwitterController">
            <span class="first">
                <div class="header-left">
                    <div class="icon-twitter"></div>
                </div>
                @luizmarcelohennemann
            </span>
            <div class="timeline">
                <div class="label_post">
                    <h2>What's happening?</h2>
                </div>
                <div class="post">
                    <form action="" method="POST">
                        <input type="hidden" id="msg_id" ng-value="msg_id" ng-model="msg_id"></input>
                        <textarea class="msg" id="conteudo" rows="4" maxlength="140" ng-model="conteudo" required> </textarea>
                        <input type="submit" classname="salvar" value="salvar" id="salvar" ng-click="save()">
                    </form>
                </div>
            </div>
            <div>
                <ul class="timeline" ng-repeat="mensagem in mensagens">
                    <li>
                        <div class="avatar">
                            <img src="user.jpg">
                        </div>
                        <div class="bubble-container">
                            <form action="" method="POST">
                                <div class="bubble">
                                    <h3>@luizmarcelohennemann</h3> tweeted:<br/>
                                    {{ mensagem.conteudo }}
                                </div>
                                <input type="submit" id="excluir" value="excluir" id="delete" ng-click="delete($index)">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>